body {
    background-image: url('dream.jpg');
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-position: center top;
    margin-bottom: 60px;
    background-color: rgb(37,14,34);
}

.container {
    margin-top: 50px;
}

.hide {
    display: none;
}
h1 {
    font-style: italic;
    color: rgba(212, 213, 214, .8);
}

h4 {
    letter-spacing: .5em;
    color: rgb(238, 238, 238);
    
    
}

hr {
    border-width: 5px;
    border-color: rgba(58, 82, 113, .4);
}

.done {
    text-decoration: line-through;
}

.btn-primary {
    background-color: rgba(58, 82, 113, .6);
}

.btn-primary:hover {
    background-color: rgba(15, 56, 109, .6);
}

.rmv-btn {
    border-radius: 50%;
    margin-left: 4px;
}

.tick-btn {
    border-radius: 50%;

}

input[type="text"] {
    background-color: rgba(55, 88, 110, .2);
}
input[type="text"]:hover {
    background-color: rgba(12, 67, 106, .6);
}

input[type="text"]:focus {
    background-color: rgba(211, 211, 212, 0.8);
}

.myLi {
    background-color: rgba(211, 211, 212, .6);
    color: rgb(12, 67, 106);
    font-weight: bold;
    letter-spacing: .2em;
}
